---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import NaturalLanguageForm from "../components/NaturalLanguageForm.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import tommel from "../assets/images/thumbsup.png";
import Footer from "../components/Footer.astro";
import bluewhale from "../assets/images/mrwhale.webp";
import whaleleft from "../assets/images/hvalfravenstre.webp";
import plasticbag from "../assets/images/plastikpose.webp";
import plasticbottle from "../assets/images/plastikflaske.webp";
import plasticfork from "../assets/images/plastikgaffel.webp";
import plasticspoon from "../assets/images/plastikske.webp";
import plasticcup from "../assets/images/plastikkopgennemsigtig.webp";
import arrows from "../assets/images/arrows.svg";
import whalebag from "../assets/images/posehval.webp";
import bubbles from "../assets/images/bobler.webp";
import jellyfish from "../assets/images/jellyfish.webp";
import skildpadde from "../assets/images/skildpadde.webp";
import bobler from "../assets/images/bobler.webp";
import net from "../assets/images/net.webp";
import mikroplast1 from "../assets/images/mikroplast1.webp";
import mikroplast2 from "../assets/images/mikroplast2.webp";
import mikroplast3 from "../assets/images/mikroplast3.webp";
import plastikposesort from "../assets/images/plsatikposesort.webp";
import plastiskkopfarvet from "../assets/images/plastikkopfarvet.webp";
import plastikkopgennemsigtig from "../assets/images/plastikkopgennemsigtig.webp";
---

<MainLayout title="#singleusesucks">
  <section id="hero" class="w-full h-screen bg-cover bg-center bg-[url('/hero_background.webp')] pb-24 mb-56">
    <div class="pt-4">
      <div x-data="{ showMenu: false }" class="px-8 pb-2 pt-2 w-full">
        <div id="navbar" class="flex flex-row justify-between items-center">
          <div id="logo" class="flex items-center py-2">
            <a href="/">
              <p class="text-custom-offwhite">plastic change</p>
            </a>
          </div>
          <div class="z-10 mr-10">
            <button type="submit" class="bg-custom-green font-poppins px-10 py-2 uppercase text-custom-offwhite font-bold shadow-lg opacity-90" @click="alert('Mange tak for din støtte! Dit bidrag gør en stor forskel i kampen mod single use plastik og plastikforurening.')">Støt nu</button>
          </div>
          <!-- Burger menu -->
          <button id="burgermenu" class="mr-4 fixed right-0 z-50" @click="showMenu = !showMenu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-[#EBF4E9]">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
          </button>
        </div>
        <!-- Dropdown Menu -->
        <nav id="mobilmenu" x-show="showMenu" x-transition class="flex flex-col items-end text-custom-offwhite pt-4 pr-4 font-medium fixed right-0 z-50">
          <ul class="w-full text-right">
            <li class="py-2"><a href="/" class="block w-full px-4 py-2 no-underline">Plastproblemet</a></li>
            <li class="py-2"><a href="/" class="block w-full px-4 py-2 no-underline">Om plastic change</a></li>
            <li class="py-2"><a href="/form" class="block w-full px-4 py-2 no-underline">Hvad kan du gøre?</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="pt-12 px-16 z-10 relative">
      <h1 class="font-bebas text-custom-orange text-9xl mb-4">#singleusesucks</h1>
      <NaturalLanguageForm />
    </div>
    <div><Image class="absolute z-0 w-[25%] animate__wobble animate__animated plasticanimation" style="animation-duration: 20s; left: 600px; top: 55%;" src={plasticbag} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[15%] h-auto max-w-none" style="left: 950px; top: 25%; transform: rotate(80deg)" src={plasticbag} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[20%] h-auto max-w-none" style="left: 30px; top: 60%; transform: rotate(100deg)" src={plasticbottle} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[10%] h-auto max-w-none" style="left: 1000px; top: 70%; transform: rotate(260deg)" src={plasticbottle} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[10%] h-auto max-w-none" style="left: 380px; top: 70%; transform: rotate(300deg)" src={plasticfork} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[7%] h-auto max-w-none" style="left: 900px; top: 60%; transform: rotate(10deg)" src={plasticfork} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[9%] h-auto max-w-none" style="left: 670px; top: 70%; transform: rotate(-30deg)" src={plasticspoon} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[9%] h-auto max-w-none opacity-70" style="left: 1150px; top: 60%; transform: rotate(-30deg)" src={plasticcup} alt="plastic bag" /></div>
  </section>

  <section id="whale 1" class="pb-40 mb-48">
    <div class="md:grid grid-cols-2 gap-2 mx-16 relative z-10">
      <div>
        <h2 class="font-bebas text-custom-offwhite text-6xl mb-4 max-w-xxs">Skrald der <span class="text-custom-orange">aldrig</span> forsvinder</h2>
      </div>
      <div class="parallaxelement">
        <p class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Plastikforurening opstår, når plastikaffald ender i naturen og bliver der i årtier. Kun <strong>5% af plastikken</strong> flyder på overfladen, mens <strong>95% ligger dybere</strong> i vandsøjlen, hvilket gør det sværere at opdage.</p>
      </div>
    </div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[180%] h-auto max-w-none" style="left: -350px; top: 55%;" src={bluewhale} alt="whale" /></div>
    <div><Image class="absolute z-0 w-[40%] opacity-80" style="left: 300px; top: 155%;" src={whalebag} alt="plastic bag" /></div>
    <div><Image class="absolute z-0 w-[20%] opacity-80" style="left: 700px; top: 160%;" src={plasticbottle} alt="plastic bottle" /></div>
  </section>

  <section id="platicpercentage relative">
    <div class="h-screen text-center flex items-center justify-center">
      <div>
        <h2 class="font-bebas text-custom-offwhite text-5xl leading-relaxed">
          <span class="text-custom-orange">5%</span> FLYDER I OVERFLADEN
        </h2>
        <Image src={arrows} alt="arrows up and down" class="opacity-80 mx-auto" />
        <h2 class="font-bebas text-custom-offwhite text-5xl leading-relaxed">
          <span class="text-custom-orange">95%</span> FALDER LÆNGERE NED I HAVET
        </h2>
      </div>
      <div><Image class="absolute z-0 w-[90%] opacity-80" style="left: -75px; top: 220%;" src={bubbles} alt="bubbles" /></div>
      <div><Image class="absolute z-0 w-[22%] opacity-85" style="left: 400px; top: 312%; transform: rotate(80deg)" src={whalebag} alt="plastic fork" /></div>
      <div><Image class="absolute z-0 w-[22%] opacity-85" style="left: 800px; top: 315%; transform: rotate(120deg)" src={whalebag} alt="plastic fork" /></div>
      <div><Image class="absolute z-0 w-[17%] opacity-90" style="left: 600px; top: 315%;" src={plasticbag} alt="plastic bag" /></div>
      <div><Image class="absolute z-0 w-[14%] opacity-90" style="left: 400px; top: 300%; transform: rotate(90deg)" src={plasticbag} alt="plastic bag" /></div>
      <div><Image class="absolute z-0 w-[16%] opacity-90" style="left: 800px; top: 305%; transform: rotate(40deg)" src={plasticbag} alt="plastic bag" /></div>
      <div><Image class="absolute z-0 w-[17%] opacity-90" style="left: 220px; top: 305%; transform: rotate(10deg)" src={plasticbag} alt="plastic bag" /></div>
      <div><Image class="absolute z-0 w-[17%] opacity-80" style="left: 700px; top: 300%; transform: rotate(90deg)" src={plasticbottle} alt="plastic bottle" /></div>
      <div><Image class="absolute z-0 w-[14%] opacity-80" style="left: 300px; top: 315%; transform: rotate(20deg)" src={plasticbottle} alt="plastic bottle" /></div>
      <div><Image class="absolute z-0 w-[15%] opacity-80" style="left: 500px; top: 305%; transform: rotate(10deg)" src={plasticbottle} alt="plastic bottle" /></div>
      <div><Image class="absolute z-0 w-[17%] opacity-80" style="left: 550px; top: 300%; transform: rotate(40deg)" src={plasticbottle} alt="plastic bottle" /></div>
      <div><Image class="absolute z-0 w-[10%] opacity-70" style="left: 360px; top: 320%; transform: rotate(160deg)" src={plasticcup} alt="plastic cup" /></div>
      <div><Image class="absolute z-0 w-[10%] opacity-70" style="left: 700px; top: 315%; transform: rotate(60deg)" src={plasticcup} alt="plastic cup" /></div>
      <div><Image class="absolute z-0 w-[10%] opacity-70" style="left: 850px; top: 305%; transform: rotate(220deg)" src={plasticcup} alt="plastic cup" /></div>
      <div><Image class="absolute z-0 w-[12%] opacity-70" style="left: 920px; top: 305%; transform: rotate(240deg)" src={plasticcup} alt="plastic cup" /></div>
      <div><Image class="absolute z-0 w-[10%] opacity-85" style="left: 940px; top: 305%; transform: rotate(180deg)" src={plasticfork} alt="plastic fork" /></div>
      <div><Image class="absolute z-0 w-[10%] opacity-85" style="left: 500px; top: 320%; transform: rotate(10deg)" src={plasticfork} alt="plastic fork" /></div>
      <div><Image class="absolute z-0 w-[10%] opacity-85" style="left: 650px; top: 310%; transform: rotate(220deg)" src={plasticfork} alt="plastic fork" /></div>
      <div><Image class="absolute z-0 w-[12%] opacity-85" style="left: 550px; top: 310%; transform: rotate(40deg)" src={plasticfork} alt="plastic fork" /></div>
      <div><Image class="absolute z-0 w-[10%] opacity-85" style="left: 800px; top: 315%; transform: rotate(180deg)" src={plasticspoon} alt="plastic fork" /></div>
      <div><Image class="absolute z-0 w-[10%] opacity-85" style="left: 300px; top: 310%; transform: rotate(80deg)" src={plasticspoon} alt="plastic fork" /></div>
      <div><Image class="absolute z-0 w-[10%] opacity-75" style="left: 400px; top: 310%; transform: rotate(240deg)" src={plasticspoon} alt="plastic fork" /></div>
    </div>
  </section>

  <section id="quote" class="h-screen flex items-center justify-center text-center relative bg-cover bg-center mt-40">
    <div class="max-w-3xl z-10">
      <h2 class="font-bebas text-custom-offwhite text-5xl mt-80">
        “DET ER JO BARE ÉN PLASTIKPOSE”<br />
        – SAGDE <span class="text-custom-orange">8 MILLIARDER</span> MENNESKER
      </h2>
      <p class="mt-6 max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Plastikforurening påvirker både det, vi kan se, og det, vi ikke kan. Plastikposer kan samles op, men mikroplast forbliver i naturen og ender i vores fødekæde, hvor det skader både dyr og mennesker. Havdyr kæmper med affaldet, og skadelige kemikalier spreder sig i miljøet.</p>
      <p class="mt-6 max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Samtidig bidrager plastikproduktionen til klimaforandringerne. Det er en global udfordring, som kræver handling nu, før vi alle står med konsekvenserne af “bare én plastikpose.”</p>
    </div>

    <!-- Billede -->
    <div class="absolute w-[78%] h-auto max-w-none z-0 opacity-70" style="left: 50%; top: -10%; transform: translateX(-50%) rotate(20deg);">
      <Image src={plasticbag} alt="plastic bag" />
    </div>
  </section>

  <section id="plasticvsplastic" class="mt-40 relative">
    <div class="mx-16 relative z-10 grid grid-cols-2 gap-8 text-center h-screen items-center">
      <!-- Venstre kolonne -->
      <div>
        <div class="mb-40">
          <h2 class="font-bebas text-custom-offwhite text-5xl leading-none">
            SYNLIG PLASTIK<br />FORURENING
          </h2>
        </div>

        <div>
          <p class="mt-4 max-w-xs text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8 m-auto">Du kan samle en plastik pose op, men...</p>
        </div>
      </div>

      <!-- Højre kolonne -->
      <div>
        <div class="mb-40">
          <h2 class="font-bebas text-custom-offwhite text-5xl leading-none">
            USYNLIG PLASTIK<br />FORURENING
          </h2>
        </div>

        <div>
          <p class="mt-4 max-w-xs text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8 m-auto">Men du er nødt til at filtrere mikroplast fra...</p>
        </div>
      </div>
    </div>

    <!-- Billeder i venstre kolonne -->
    <div class="absolute w-[25%] h-auto opacity-100 z-0" style="left: 15%; top: 20%; transform: rotate(-40deg);">
      <Image src={plastikposesort} alt="sort plastikpose" />
    </div>
    <div class="absolute w-[14%] h-auto opacity-80 z-0" style="left: 15%; top: 50%; transform: rotate(-45deg);">
      <Image src={plastiskkopfarvet} alt="farvet plastikkop" />
    </div>
    <div class="absolute w-[13%] h-auto opacity-80 z-0" style="left: 28%; top: 48%; transform: rotate(-110deg);">
      <Image src={plastikkopgennemsigtig} alt="gennemsigtig plastikkop" />
    </div>

    <!-- Billeder i højre kolonne -->
    <div class="absolute w-[70%] h-auto opacity-80 z-0" style="right: -30%; top: 30%; transform: rotate(10deg);">
      <Image src={mikroplast1} alt="mikroplast 1" />
    </div>
    <div class="absolute w-[70%] h-auto opacity-80 z-0" style="right: -35%; top: 25%; transform: rotate(-15deg);">
      <Image src={mikroplast2} alt="mikroplast 2" />
    </div>
    <div class="absolute w-[70%] h-auto opacity-80 z-0" style="right: -30%; top: 40%; transform: rotate(5deg);">
      <Image src={mikroplast3} alt="mikroplast 3" />
    </div>
  </section>

  <section id="whale 2" class="mx-16 mb-8 relative">
    <div class="z-10 relative mt-40">
      <p class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8 m-auto">Plastic Change har som <strong>mission</strong> at skabe handling lokalt, nationalt og globalt. Vi sætter fokus på <strong>plastikudfordringerne</strong> gennem mobilisering, vidensdeling og samarbejde med befolkning, erhvervsliv og politikere.</p>
      <br />
      <p class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8 m-auto">Vores <strong>vision</strong> er et miljø uden <strong>plastikforurening</strong>, så kommende generationer kan nyde havets ressourcer uden risiko for plastikindhold.</p>
    </div>

    <div class="overflow-hidden"><Image class="absolute z-0 w-[180%] h-auto max-w-none" style="left: -500px; top: -130%;" src={whaleleft} alt="whale" /></div>
  </section>

  <section id="piechart" class="mx-16 mb-40 relative mt-48">
    <div class="grid grid-cols-3 gap-4 relative z-10">
      <div class="text-custom-offwhite max-w-xs">
        <div class="bg-custom-lightblue w-[6rem] h-[20rem] m-auto opacity-75"><h3 class="text-custom-darkblue text-center">70%</h3></div>
        <p class="font-bold mt-6">Hav- og miljøindsatser (70%)</p>
        <p>Størstedelen af din støtte går til at mindske plastikforurening gennem oplysning, events, undervisning og mobilisering af Plastic Changer-bevægelsen. Vi leder også årlige natur-oprydninger globalt og arbejder politisk for bedre miljølovgivning.</p>
      </div>

      <div class="text-custom-offwhite max-w-xs">
        <div class="bg-custom-lightblue w-[6rem] h-[20rem] m-auto opacity-75"><h3 class="text-custom-darkblue text-center">70%</h3></div>
        <p class="font-bold mt-6">Fundraising og indsamlinger (22%)</p>
        <p>En mindre del går til fundraising og indsamlinger, så Plastic Changer bevægelsen kan blive ved med at vokse.</p>
      </div>

      <div class="text-custom-offwhite max-w-xs">
        <div class="bg-custom-lightblue w-[6rem] h-[20rem] m-auto opacity-75"><h3 class="text-custom-darkblue text-center">70%</h3></div>
        <p class="font-bold mt-6">Projektstyring og administration (8%)</p>
        <p>En lille del til administration, og til at give Plastic Change et sted at bo.</p>
      </div>
    </div>

    <!-- Venstre billede -->
    <div class="absolute w-[60%] h-auto max-w-none opacity-70" style="left: -5%; top: -35%; transform: rotate(-20deg);">
      <Image src={jellyfish} alt="jellyfish" />
    </div>

    <!-- Højre billede -->
    <div class="absolute w-[55%] h-auto max-w-none opacity-70" style="right: -2%; bottom: -20%; transform: rotate(20deg);">
      <Image src={jellyfish} alt="jellyfish" />
    </div>
  </section>

  <section id="turtle" class="relative">
    <div class="grid grid-cols-2 mx-16 relative z-10">
      <div>
        <h2 class="text-custom-offwhite font-bebas text-5xl max-w-sm max-w-xxs">
          DU KAN HJÆLPE MED AT <span class="text-custom-orange">BEKÆMPE</span> PLASTFORURENING
        </h2>
      </div>
      <div>
        <div class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">
          <p><strong>Bliv en Plastic Changer</strong></p>
          <p>Lær mere om, hvordan du kan blive en del af Plastic Changer-bevægelsen <a href="https://example.com" class="underline">her</a>.</p>
        </div>
        <br />
        <div class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">
          <p><strong>Lav en donation</strong></p>
          <p>Støt os med en engangsdonation eller opret et månedligt abonnement <a href="https://example.com" class="underline">her</a>.</p>
        </div>
        <br />
        <div class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">
          <p><strong>Tilmeld dig nyhedsbrevet</strong></p>
          <p>Få opdateringer og tips til, hvordan du kan bidrage til kampen mod plast <a href="https://example.com" class="underline">her</a>.</p>
        </div>
        <br />
        <div class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">
          <p><strong>Følg os på sociale medier</strong></p>
          <p>
            Bliv en del af fællesskabet på
            <a href="https://www.facebook.com/plasticchange/" class="underline">Facebook</a>,
            <a href="https://www.instagram.com/plasticchange" class="underline">Instagram</a> og
            <a href="https://x.com/plasticchange" class="underline">Twitter</a>.
          </p>
        </div>
      </div>
    </div>
    <div class="relative z-10">
      <h1 class="font-bebas text-custom-orange text-9xl mb-4 px-20">#singleusesucks</h1>
    </div>

    <!-- Billede -->
    <div class="absolute w-[60%] h-auto max-w-none z-0" style="left: 50%; top: -15%; transform: translateX(-50%) rotate(0deg);">
      <Image src={skildpadde} alt="skildpadde" />
    </div>
  </section>

  <section class="relative mt-32" id="support">

    <div class="grid grid-cols-2 mx-16 pt-32 relative z-10">

      <div class="max-w-xs text-custom-offwhite z-10">
        <h2 class="text-5xl font-bebas pb-8 max-w-xxs">
          DIT BIDRAG GØR EN <span class="text-custom-orange">FORSKEL</span>
        </h2>
        <p class="mb-4">Du kan <strong>beskytte</strong> naturen, dyrelivet og vores børn mod plastik.</p>
        <p>Kun med din <strong>støtte</strong> kan vi kæmpe for, at politikere og virksomheder tager ansvar for at standse overproduktion og <strong>forurening</strong> fra plastik nu og at vi kan uddanne fremtidens forbrugere.</p>
      </div>

      <!-- form -->
      <div class="bg-custom-lightblue opacity-75 rounded-2xl w-[27rem] h-[30rem] p-10 ml-12">
        <p class="text-3xl font-bebas mb-12 text-custom-darkblue">JEG VIL STØTTE</p>
        <form>
          <div class="mb-8 flex gap-10">
            <label class="flex items-center space-x-2 cursor-pointer">
              <input type="radio" id="maanedligt" name="betaling" checked class="hidden peer" />
              <span class="w-5 h-5 border-2 border-custom-darkblue rounded-full peer-checked:bg-custom-darkblue peer-checked:border-custom-darkblue"></span>
              <span class="text-lg">Månedligt</span>
            </label>
            <label class="flex items-center space-x-2 cursor-pointer">
              <input type="radio" id="enkelt" name="betaling" class="hidden peer" />
              <span class="w-5 h-5 border-2 border-custom-darkblue rounded-full peer-checked:bg-custom-darkblue peer-checked:border-custom-darkblue"></span>
              <span class="text-lg">En enkelt gang</span>
            </label>
          </div>
          <div class="flex space-x-4 mt-6 mb-4 items-center gap-8">
            <button type="button" class="bg-transparent text-custom-darkblue border border-custom-darkblue rounded-full py-6 px-7 text-lg hover:bg-custom-darkblue hover:text-custom-offwhite transition duration-300">50</button>
            <button type="button" class="bg-transparent text-custom-darkblue border border-custom-darkblue rounded-full py-6 px-7 text-lg hover:bg-custom-darkblue hover:text-custom-offwhite transition duration-300">75</button>
            <button type="button" class="bg-transparent text-custom-darkblue border border-custom-darkblue rounded-full py-6 px-6 text-lg hover:bg-custom-darkblue hover:text-custom-offwhite transition duration-300">125</button>
          </div>

          <div class="flex flex-col space-y-4 mt-8">
            <input type="text" id="customAmount" placeholder="Andet beløb" class="bg-transparent border border-custom-darkblue text-custom-darkblue text-center text-lg focus:outline-none focus:ring-2 focus:ring-custom-darkblue transition duration-300" />
            <button type="button" class="bg-custom-darkblue text-lg text-custom-offwhite py-2 hover:bg-gray-800 transition duration-300">STØT NU</button>
          </div>
        </form>
      </div>

    </div>

    <!-- Første billede -->
    <div class="absolute w-[90%] h-auto max-w-none opacity-70 z-0" style="left: -5%; top: 15%; transform: translateY(-50%) rotate(-10deg);">
      <Image src={bobler} alt="bobler" />
    </div>

    <!-- Andet billede -->
    <div class="absolute w-[100%] h-auto max-w-none z-0" style="right: -10%; top: -20%; transform: rotate(15deg);">
      <Image src={net} alt="net" />
    </div>

  </section>

</MainLayout>

<!-- <Button>Klik!</Button>
  <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
  <Image src={tommel} alt="" /> -->

<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));

  scroll(animate(".parallaxelement", { y: [0, 150] }), {
    target: document.querySelector(".parallaxelement"),
  });

  const animation = document.querySelector(".plasticanimation");
  inView(animation, () => {
    animation.classList.add("animate__animated", "animate__delay-1s", "animate__infinite", "ease-in-out");
  });
</script>
