---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import NaturalLanguageForm from "../components/NaturalLanguageForm.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import tommel from "../assets/images/thumbsup.png";
import Footer from "../components/Footer.astro";
import bluewhale from "../assets/images/mrwhale.webp";
import whaleleft from "../assets/images/hvalfravenstre.webp";
import plasticbag from "../assets/images/plastikpose.webp";
import plasticbottle from "../assets/images/plastikflaske.webp";
import plasticfork from "../assets/images/plastikgaffel.webp";
import plasticspoon from "../assets/images/plastikske.webp";
---

<MainLayout title="#singleusesucks">
  <section id="hero" class="w-full h-screen bg-cover bg-center bg-[url('/hero_background.webp')] pb-24 mb-24">
    <div>
      <div x-data="{ showMenu: false }" class="px-8 pb-2 pt-2 w-full">
        <div id="navbar" class="flex flex-row justify-between items-center">
          <div id="logo" class="flex items-center py-2">
            <a href="/">
              <p class="text-custom-offwhite">plastic change</p>
            </a>
          </div>
          <!-- Burger menu -->
          <button id="burgermenu" class="mr-4 fixed right-0" @click="showMenu = !showMenu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-[#EBF4E9]">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
          </button>
        </div>
        <!-- Dropdown Menu -->
        <nav id="mobilmenu" x-show="showMenu" x-transition class="flex flex-col items-end text-custom-offwhite pt-4 pr-4 font-medium fixed right-0">
          <ul class="w-full text-right">
            <li class="py-2"><a href="/" class="block w-full px-4 py-2 no-underline">Plastproblemet</a></li>
            <li class="py-2"><a href="/" class="block w-full px-4 py-2 no-underline">Om plastic change</a></li>
            <li class="py-2"><a href="/form" class="block w-full px-4 py-2 no-underline">Hvad kan du gøre?</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="pt-12 px-16 z-10 relative">
      <h1 class="font-bebas text-custom-orange text-9xl mb-4">#singleusesucks</h1>
      <NaturalLanguageForm />
    </div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[25%] h-auto max-w-none" style="left: 600px; top: 55%;" src={plasticbag} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[15%] h-auto max-w-none" style="left: 950px; top: 25%; transform: rotate(80deg)" src={plasticbag} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[20%] h-auto max-w-none" style="left: 30px; top: 60%; transform: rotate(100deg)" src={plasticbottle} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[10%] h-auto max-w-none" style="left: 1000px; top: 70%; transform: rotate(260deg)" src={plasticbottle} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[10%] h-auto max-w-none" style="left: 380px; top: 70%; transform: rotate(300deg)" src={plasticfork} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[7%] h-auto max-w-none" style="left: 900px; top: 60%; transform: rotate(10deg)" src={plasticfork} alt="plastic bag" /></div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[9%] h-auto max-w-none" style="left: 670px; top: 70%; transform: rotate(-30deg)" src={plasticspoon} alt="plastic bag" /></div>
  </section>

  <section id="whale 1" class="pb-40 mb-48">
    <div class="md:grid grid-cols-2 gap-2 mx-16 relative z-10">
      <div>
        <h2 class="font-bebas text-custom-offwhite text-6xl mb-4 max-w-xxs">Skrald der <span class="text-custom-orange">aldrig</span> forsvinder</h2>
      </div>
      <div class="parallaxelement">
        <p class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Plastikforurening opstår, når plastikaffald ender i naturen og bliver der i årtier. Kun <strong>5% af plastikken</strong> flyder på overfladen, mens <strong>95% ligger dybere</strong> i vandsøjlen, hvilket gør det sværere at opdage.</p>
      </div>
    </div>
    <div class="overflow-hidden"><Image class="absolute z-0 w-[180%] h-auto max-w-none" style="left: -350px; top: 35%;" src={bluewhale} alt="whale" /></div>
  </section>

  <section id="platicpercentage">
    <div class="h-screen text-center flex items-center justify-center">
      <div>
        <h2 class="font-bebas text-custom-offwhite text-5xl leading-relaxed">
          <span class="text-custom-orange">5%</span> FLYDER I OVERFLADEN
        </h2>
        <h2 class="font-bebas text-custom-offwhite text-5xl leading-relaxed">
          <span class="text-custom-orange">95%</span> FALDER LÆNGERE NED I HAVET
        </h2>
      </div>
    </div>
  </section>

  <section id="quote" class="h-screen flex items-center justify-center text-center">
    <div class="max-w-3xl">
      <h2 class="font-bebas text-custom-offwhite text-5xl">
        “DET ER JO BARE ÉN PLASTIKPOSE”<br />
        – SAGDE <span class="text-custom-orange">8 MILLIARDER</span> MENNESKER
      </h2>
      <p class="mt-6 max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Plastikforurening påvirker både det, vi kan se, og det, vi ikke kan. Plastikposer kan samles op, men mikroplast forbliver i naturen og ender i vores fødekæde, hvor det skader både dyr og mennesker. Havdyr kæmper med affaldet, og skadelige kemikalier spreder sig i miljøet.</p>
      <p class="mt-6 max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Samtidig bidrager plastikproduktionen til klimaforandringerne. Det er en global udfordring, som kræver handling nu, før vi alle står med konsekvenserne af “bare én plastikpose.”</p>
    </div>
  </section>

  <section id="plasticvsplastic" class="grid grid-cols-2 gap-8 text-center h-screen items-center">
    <!-- Venstre kolonne -->
    <div class="mx-16">
      <h2 class="font-bebas text-custom-offwhite text-5xl leading-none">
        SYNLIG PLASTIK<br />FORURENING
      </h2>
      <p class="mt-4 max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Du kan samle en plastik pose op</p>
    </div>

    <!-- Højre kolonne -->
    <div class="mx-16">
      <h2 class="font-bebas text-custom-offwhite text-5xl leading-none">
        USYNLIG PLASTIK<br />FORURENING
      </h2>
      <p class="mt-4 max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Du er nødt til at filtrere mikroplast fra</p>
    </div>
  </section>

  <section id="whale 2" class="mx-16 mb-8">
    <p class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Plastic Change har som mission at skabe handling lokalt, nationalt og globalt. Vi sætter fokus på plastikudfordringerne gennem mobilisering, vidensdeling og samarbejde med befolkning, erhvervsliv og politikere.</p>
    <br />
    <p class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">Vores vision er et miljø uden plastikforurening, så kommende generationer kan nyde havets ressourcer uden risiko for plastikindhold.</p>
    <Image class="" style="" src={whaleleft} alt="whale" />
  </section>

  <section class="bg-custom-darkblue">
    <section id="piechart" class="mx-16 mb-8">
      <div class="text-custom-offwhite max-w-xs">
        <p class="font-bold">Projektstyring og administration (8%)</p>
        <p>En lille del til administration, og til at give Plastic Change et sted at bo.</p>
      </div>
      <br />
      <div class="text-custom-offwhite max-w-xs">
        <p class="font-bold">Fundraising og indsamlinger (22%)</p>
        <p>En mindre del går til fundraising og indsamlinger, så Plastic Changer bevægelsen kan blive ved med at vokse.</p>
      </div>
      <br />
      <div class="text-custom-offwhite font- max-w-xs">
        <p class="font-bold">Hav- og miljøindsatser (70%)</p>
        <p>Størstedelen af din støtte går til at mindske plastikforurening gennem oplysning, events, undervisning og mobilisering af Plastic Changer-bevægelsen. Vi leder også årlige natur-oprydninger globalt og arbejder politisk for bedre miljølovgivning.</p>
      </div>
    </section>

    <section id="turtle">
      <div class="grid grid-cols-2 mx-16">
        <div>
          <h2 class="text-custom-offwhite font-bebas text-5xl max-w-sm max-w-xxs">
            DU KAN HJÆLPE MED AT <span class="text-custom-orange">BEKÆMPE</span> PLASTFORURENING
          </h2>
        </div>
        <div class="">
          <div class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">
            <p><strong>Bliv en Plastic Changer</strong></p>
            <p>Lær mere om, hvordan du kan blive en del af Plastic Changer-bevægelsen <a href="https://example.com" class="underline">her</a>.</p>
          </div>
          <br />
          <div class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">
            <p><strong>Lav en donation</strong></p>
            <p>Støt os med en engangsdonation eller opret et månedligt abonnement <a href="https://example.com" class="underline">her</a>.</p>
          </div>
          <br />
          <div class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">
            <p><strong>Tilmeld dig nyhedsbrevet</strong></p>
            <p>Få opdateringer og tips til, hvordan du kan bidrage til kampen mod plast <a href="https://example.com" class="underline">her</a>.</p>
          </div>
          <br />
          <div class="max-w-lg text-custom-ocean bg-custom-lightblue opacity-75 px-8 py-8">
            <p><strong>Følg os på sociale medier</strong></p>
            <p>
              Bliv en del af fællesskabet på
              <a href="https://www.facebook.com/plasticchange/" class="underline">Facebook</a>,
              <a href="https://www.instagram.com/plasticchange" class="underline">Instagram</a> og
              <a href="https://x.com/plasticchange" class="underline">Twitter</a>.
            </p>
          </div>
        </div>
      </div>
      <div>
        <h1 class="font-bebas text-custom-orange text-9xl mb-4 px-20">#singleusesucks</h1>
      </div>
    </section>

    <section id="support">
      <div class="grid grid-cols-2 mx-16 pt-32">
        <div class="max-w-xs text-custom-offwhite">
          <h2 class="text-5xl font-bebas pb-8 max-w-xxs">
            DIT BIDRAG GØR EN <span class="text-custom-orange">FORSKEL</span>
          </h2>
          <p class="mb-4">Du kan <strong>beskytte</strong> naturen, dyrelivet og vores børn mod plastik.</p>
          <p>Kun med din <strong>støtte</strong> kan vi kæmpe for, at politikere og virksomheder tager ansvar for at standse overproduktion og <strong>forurening</strong> fra plastik nu og at vi kan uddanne fremtidens forbrugere.</p>
        </div>

        <div class="bg-custom-lightblue opacity-75">
          <p>JEG VIL STØTTE</p>
          <form>
            <div class="">
              <input type="radio" id="maanedligt" name="betaling" checked="checked" />
              <label for="maanedligt">Månedligt</label>
              <input type="radio" id="enkelt" name="betaling" />
              <label for="enkelt">En enkelt gang</label>
            </div>
            <div class="flex flex-col space-y-4">
              <button class="text-black border border-black py-2 px-4 hover:bg-black transition duration-300"> Andet beløb </button>
              <button class="bg-black text-white py-2 max-w-sm hover:bg-gray-800 transition duration-300"> Støt nu </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </section>

  <!-- <Button>Klik!</Button>
  <p>Link til <Link href="https://www.kea.dk" target="_blank">En anden side</Link></p>
  <Image src={tommel} alt="" /> -->
</MainLayout>

<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));

  scroll(animate(".parallaxelement", { y: [0, 150] }), {
    target: document.querySelector(".parallaxelement"),
  });
</script>
