---
import MainLayout from "../layouts/MainLayout.astro";
import NaturalLanguageForm from "../components/NaturalLanguageForm.astro";
import { Image } from "astro:assets";
import plasticbag from "../assets/images/plastikpose.webp";
import plasticbottle from "../assets/images/plastikflaske.webp";
import plasticfork from "../assets/images/plastikgaffel.webp";
import plasticspoon from "../assets/images/plastikske.webp";
import plasticcup from "../assets/images/plastikkopgennemsigtig.webp";
import Whale1 from "../components/whale1.astro";
import PlasticPercentage from "../components/PlasticPercentage.astro";
import Quote from "../components/Quote.astro";
import PlasticvsPlastic from "../components/PlasticvsPlastic.astro";
import Whale2 from "../components/Whale2.astro";
import Diagram from "../components/Diagram.astro";
import Turtle from "../components/Turtle.astro";
import Support from "../components/Support.astro";
---

<MainLayout title="#singleusesucks">
  <section id="hero" class="w-full h-screen bg-cover bg-center bg-[url('/hero_background.webp')] pb-24 mb-8 sm:mb-32 md:mb-40 lg:mb-48 relative grid grid-rows-1 grid-cols-1">
    <div class="pt-4">
      <div x-data="{ showMenu: false }" class="px-8 pb-2 pt-2 w-full">
        <div id="navbar" class="flex flex-row justify-between items-center">
          <div id="logo" class="flex items-center py-2">
            <a href="/">
              <p class="text-custom-offwhite">plastic change</p>
            </a>
          </div>
          <div class="z-10 mr-10">
            <button type="submit" class="bg-custom-green font-poppins px-10 py-2 uppercase text-custom-offwhite font-bold shadow-lg opacity-90" @click="alert('Mange tak for din støtte! Dit bidrag gør en stor forskel i kampen mod single use plastik og plastikforurening.')">Støt nu</button>
          </div>
          <!-- Burger menu -->
          <button id="burgermenu" class="mr-4 fixed right-0 z-50" @click="showMenu = !showMenu">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 text-[#EBF4E9]">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
            </svg>
          </button>
        </div>
        <!-- Dropdown Menu -->
        <nav id="mobilmenu" x-show="showMenu" x-transition class="flex flex-col items-end text-custom-offwhite pt-4 pr-4 font-medium fixed right-0 z-50 bg-custom-ocean">
          <ul class="w-full text-right">
            <li class="py-2"><a href="/" class="block w-full px-4 py-2 no-underline">Plastproblemet</a></li>
            <li class="py-2"><a href="/" class="block w-full px-4 py-2 no-underline">Om plastic change</a></li>
            <li class="py-2"><a href="/form" class="block w-full px-4 py-2 no-underline">Hvad kan du gøre?</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div id="herocontent" class="pt-4">
      <div class="relative z-10 pt-12 px-8 sm:px-16 mt-8">
        <h1 class="font-bebas text-custom-orange text-6xl sm:text-7xl md:text-8xl lg:text-9xl mb-4">#singleusesucks</h1>
        <NaturalLanguageForm />
      </div>

      <!-- Herobilleder -->
      <div class="absolute inset-0 grid grid-cols-12 grid-rows-6 gap-4">
        <Image class="col-start-7 col-span-3 row-start-5 row-span-2 w-[20vw] h-auto animationwobble plasticanimation" style="animation-duration: 20s;" src={plasticbag} alt="plastic bag" />

        <Image class="col-start-9 col-span-2 row-start-3 row-span-1 w-[16vw] h-auto animationwobble rotate-[90deg]" style="animation-duration: 20s;" src={plasticbag} alt="plastic bag" />

        <Image class="col-start-1 col-span-3 row-start-5 row-span-1 w-[24vw] h-auto animationwobble rotate-[100deg]" style="animation-duration: 20s;" src={plasticbottle} alt="plastic bottle" />

        <Image class="col-start-9 col-span-2 row-start-5 row-span-1 w-[18vw] h-auto animationwobble rotate-[260deg]" style="animation-duration: 20s;" src={plasticbottle} alt="plastic bottle" />

        <Image class="col-start-4 col-span-2 row-start-5 row-span-1 w-[12vw] h-auto animationwobble rotate-[300deg]" style="animation-duration: 20s;" src={plasticfork} alt="plastic fork" />

        <Image class="col-start-6 col-span-1 row-start-6 row-span-1 w-[14vw] h-auto animationwobble rotate-[90deg]" style="animation-duration: 20s;" src={plasticfork} alt="plastic fork" />

        <Image class="col-start-6 col-span-1 row-start-5 row-span-1 w-[10vw] h-auto animationwobble rotate-[30deg]" style="animation-duration: 20s;" src={plasticspoon} alt="plastic spoon" />

        <Image class="col-start-11 col-span-2 row-start-5 row-span-1 w-[8vw] h-auto opacity-70 animationwobble rotate-[30deg]" style="animation-duration: 20s;" src={plasticcup} alt="plastic cup" />
      </div>

    </div>
  </section>

  <Whale1 />
  <PlasticPercentage />
  <Quote />
  <PlasticvsPlastic />
  <Whale2 />
  <Diagram />
  <Turtle />
  <Support />
</MainLayout>

<script>
  import { animate, stagger, inView, scroll, timeline } from "motion";
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));

  animate("body", { opacity: [0, 1] }, { duration: 1 });

  scroll(animate(".parallaxelement", { y: [0, 150] }), {
    target: document.querySelector(".parallaxelement"),
  });

  const animationwobble = document.querySelectorAll(".animationwobble");

  animationwobble.forEach((item) => {
    inView(item, () => {
      item.classList.add("animate__animated", "animate__wobble", "animate__infinite", "animate__delay-1s", "ease-in-out");
    });
  });
</script>
