---
import { Image } from "astro:assets";
import whalebag from "../assets/images/posehval.webp";
import plasticbottle from "../assets/images/plastikflaske.webp";
import arrows from "../assets/images/arrows.svg";
import bubbles from "../assets/images/bobler.webp";
import plasticbag from "../assets/images/plastikpose.webp";
import plasticfork from "../assets/images/plastikgaffel.webp";
import plasticspoon from "../assets/images/plastikske.webp";
import plasticcup from "../assets/images/plastikkopgennemsigtig.webp";
---

<section id="platicpercentage">
  <div class="relative">
    <div class="h-screen text-center m-auto">
      <h2 class="font-bebas text-custom-offwhite text-5xl sm:text-6xl m-auto">
        <span class="text-custom-orange">5%</span> FLYDER I OVERFLADEN
      </h2>
      <Image src={arrows} alt="arrows up and down" class="opacity-80 mx-auto w-[20vw] sm:w-[18vw] md:w-[12vw]" />
      <h2 class="font-bebas text-custom-offwhite text-5xl sm:text-6xl m-auto">
        <span class="text-custom-orange">95%</span> FALDER LÆNGERE NED I HAVET
      </h2>
    </div>

    <Image class="absolute z-0 w-[90%] opacity-80" style="left: -75px; top: 220%;" src={bubbles} alt="bubbles" />

    <!-- Billeder -->
    <div class="relative inset-0 grid grid-cols-6 grid-rows-4 gap-2">
      <Image class="absolute col-start-2 col-span-2 row-span-2 row-start-4 w-[20vw] opacity-80" src={whalebag} alt="plastic bag" />
      <Image class="absolute col-start-5 col-span-1 row-span-1 row-start-3 w-[20vw] opacity-90" src={plasticbag} alt="plastic bag" />
      <Image class="absolute col-start-3 col-span-1 row-span-1 row-start-4 w-full opacity-90 rotate-[10deg]" src={plasticbag} alt="plastic bag" />
      <Image class="absolute col-start-4 col-span-1 row-span-1 row-start-4 w-[20vw] opacity-80 rotate-[90deg]" src={plasticbottle} alt="plastic bottle" />
      <Image class="absolute col-start-3 col-span-1 row-span-1 row-start-4 w-[20vw] opacity-80 rotate-[40deg]" src={plasticbottle} alt="plastic bottle" />
      <Image class="absolute col-start-5 col-span-1 row-span-1 row-start-4 w-[10vw] opacity-70 rotate-[240deg] float-up" src={plasticcup} alt="plastic cup" />
      <Image class="absolute col-span-1 col-start-2 row-span-1 w-[10vw] opacity-85 rotate-[40deg]" src={plasticfork} alt="plastic fork" />
      <Image class="absolute col-span-1 col-start-3 row-span-1 w-[10vw] opacity-75 rotate-[240deg]" src={plasticspoon} alt="plastic spoon" />
    </div>
  </div>
</section>

<script>
  import { animate, scroll } from "motion";

  scroll(animate(".float-up", { y: [-450, 0] }), {
    target: document.querySelector(".float-up"),
  });
</script>
